
.button-about{
    flex-direction: column;
    position: absolute;
    top: 90%;
    left: 20px;
    float: left;
}
.resim{
    flex-direction: column;
}

.button-techskills{
    flex-direction: column;
}

.button-softskills{
    flex-direction: column;
}
.button-hobbies{
    flex-direction: column;
}

.button-education{
    flex-direction: column;
}



.icon-container{
    flex-direction: column;
    position: relative;
    top: 90%;
}