


* {
  margin: 0;
  padding:0;
  box-sizing: border-box
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #050517;
  position: relative;
  margin: 0;
  overflow: hidden;
  display: block;
  height: 100vh;
  flex-direction: column;
  line-height: 1.5;
  
}


h1 {
  font-size: 20pt;
}


.buton-bilgi{
    
    border-radius: 10px;
    height: 2.5em;
    width: 6.25em;
    left: 25%;
    top: 10%;
    margin: 5px 1% 5px 1%;
    float: left;
    position: absolute;
    -webkit-transition: height 2s, width 2s;
    transition: height 2s, width 2s;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.880);
}
.buton-bilgi .about{
    text-align: center;
    font-size: 20pt;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-delay: 0s;
    opacity: 1;
    margin-bottom: 5px;
    max-width: 500px;
    height: 40px;
    background-color: #a2a2a2;
    border-radius: 10px;
    font-family: "Poppins";
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.buton-bilgi .yazi{
    color: #e97e27;
    position: absolute;
    top: 10%;
    right: 1%;
    font-size: 20pt;
    margin: 20px;
    font-family: Roboto;
    position: absolute;
    text-align: center;
    overflow: hidden;
    transition-delay: 0s;
    opacity: 0;
    font-family: "Poppins";
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    
}

.buton-bilgi:hover .yazi{
    transition-delay: 2.2s;
    transition: opacity 3s;
    opacity: 1;
    z-index: 100;
    
}


.buton-bilgi:hover{
    width: 31.25em;
    height: 20em;
    z-index: 100;
}





.buton-education{
    
    border-radius: 10px;
    height: 2.5em;
    width: 10em;
    left: 35%;
    top: 60%;
    margin: 5px 1% 5px 1%;
    float: left;
    position: absolute;
    -webkit-transition: height 2s, width 2s;
    transition: height 1s, width 1s;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.880);
    
}

.buton-education .education{
    text-align: center;
    font-size: 20pt;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-delay: 0s;
    opacity: 1;
    margin-bottom: 5px;
    max-width: 500px;
    height: 40px;
    background-color: #a2a2a2;
    border-radius: 10px;
    font-family: "Poppins";
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}


.buton-education:hover {
    width: 25em;
    height: 16em;
    z-index: 100;

}
.schools{
    text-align: center;
    list-style-type: none;
    padding: 0px;
    max-height: 0px;
    font-size: 12pt;
    font-family: "Poppins";
    opacity: 0;
    overflow: hidden;
    transition: opacity 4s;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.schools li{
    color: #e97e27;
    margin: 10px;
}


.buton-education:hover .schools{

    max-height: inherit;
    opacity: 1;

}







.buton-softskills{
    
  border-radius: 10px;
  height: 40px;
  width: 160px;
  left: 50%;
  top: 20%;
  margin: 5px 1% 5px 1%;
  float: left;
  position: absolute;
  -webkit-transition: height 2s, width 2s;
  transition: height 1s, width 1s; 
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.880);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.buton-softskills:hover {
   
    height: 18.125em;
    z-index: 100;

}

.buton-softskills .soft-skillshead{
    text-align: center;
    font-size: 20pt;
    font-family: "Poppins";
    transition-delay: 0s;
    opacity: 1;
    max-width: 500px;
    height: 40px;
    background-color: #a2a2a2;
    border-radius: 10px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.soft-skills{
   
    list-style-type: none;
    padding: 15px;
    text-align: center;
    max-height: 0px;
    font-size: 12pt;
    font-family: "Poppins";
    opacity: 0;
    overflow: hidden;
    transition: opacity 4s;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.soft-skills li {
    color: #e97e27;
    margin-bottom: 20px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.buton-softskills:hover .soft-skills {
    max-height: inherit;
    opacity: 1;
    transition-delay: 0s;
}


.buton-techskills{
  border-radius: 10px;
  height: 40px;
  width: 160px;
  left: 60%;
  top: 70%;
  margin: 5px 1% 5px 1%;
  float: left;
  position: absolute;
  -webkit-transition: height 2s, width 2s;
  transition: height 1s, width 1s; 
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.880);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    
}

.buton-techskills:hover {
    
    height: 420px;
    width: 320px;
    z-index: 100;
   
}



.tech-skills{
   
    list-style-type: none;
    padding: 15px;
    max-height: 0px;
    font-size: 12pt;
    font-family: "Poppins";
    opacity: 0;
    overflow: hidden;
    transition: opacity 4s;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}


.tech-skills li {
    color: #e97e27;
    margin-bottom: 20px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}


.buton-techskills:hover .tech-skills {
    max-height: inherit;
    opacity: 1;
    transition-delay: 0s;
}


.container {
    width: 100%;
    background-color: rgb(188, 185, 185);
    z-index: 150;
}


.buton-techskills .tech-skillshead{
    text-align: center;
    font-size: 20pt;
    padding-bottom: 20px;
    font-family: "Poppins";
    transition-delay: 0s;
    opacity: 1;
    margin-bottom: 5px;
    max-width: 500px;
    height: 40px;
    background-color: #a2a2a2;
    border-radius: 10px;
    user-select: none;
}

.htmlcss {
    width: 35%; 
    background-color: #04AA6D;
}
.flutter {
    width: 35%;
     background-color: #00adf1;
    }
.java {
    width: 30%;
     background-color: #f44336;
    }
.dart {
    width: 30%; background-color: #03579c;
}

.python {
    width: 30%; background-color: #0749ff;
}


.buton-hobbies{
    border-radius: 10px;
    height: 40px;
    width: 160px;
    left: 80%;
    top: 300px;
    margin: 5px 1% 5px 1%;
    float: left;
    position: absolute;
    -webkit-transition: height 2s, width 2s;
    transition: height 1s, width 1s; 
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.880);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}


.buton-hobbies:hover {
   
    height: 300px;
    width: 240px;
    z-index: 100;
}

.buton-hobbies .hobbiesshead{
    text-align: center;
    font-size: 20pt;
    font-family: "Poppins";
    transition-delay: 0s;
    opacity: 1;
    max-width: 500px;
    height: 40px;
    background-color: #a2a2a2;
    border-radius: 10px;
    user-select: none;
}

.hobbies{
   
    list-style-type: none;
    padding: 15px;
    text-align: center;
    max-height: 0px;
    font-size: 12pt;
    font-family: "Poppins";
    opacity: 0;
    overflow: hidden;
    transition: opacity 4s;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.hobbies li {
    color: #e97e27;
    margin-bottom: 20px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.buton-hobbies:hover .hobbies{
    max-height: inherit;
    opacity: 1;
    transition-delay: 0s;
}


.box{
  padding: 0px;
  margin: 0px;
}



.resim{
    left: 30px;
    top: 50px;
    position: relative;
    border-radius: 50%;
    border-width: 3px !important; filter: drop-shadow(12px 4px 16px #e97e27);
    width: 20em;
    height: 20em;
    z-index: 100;
    float: left;
}



.mail-name
 {
    position: absolute;
    top: 50%;
}





.mailbtn {
  position: relative;
  left: 8em;
  top: 4em;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #cecd24;
  text-decoration: none;
  font-size: 1.5em;
  display: inline-block;
  font-family: "Poppins";
  text-transform: uppercase;
  padding: 0.5em 2em;
  border: 2px solid #cecd24;
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.mailbtn::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #cecd24;
  transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: -1;
}
.mailbtn::after {
  content: "";
  display: inline-block;
  background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  right: 4em;
  bottom: 0;
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  resize: none;
}
.mailbtn:hover {
  padding: 0.5em 3.5em 0.5em 0.5em;
}
.mailbtn:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.mailbtn:hover::after {
  right: 0;
  transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}



.isim {
    position: relative;
    left: 2.2em;
    top: 1em;
    font-size: 25pt;
}



.mail-name
 span{

  	font: 200 1em/1 "Poppins";
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px #a2a2a2;

/* Clip Background Image */

	  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

      animation: aitf 80s linear infinite;
/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

  }
  .mail-name
   span::after{
    content: '';
    animation: textrotate 5s linear infinite;
  }


/* Animate Background Image */
@keyframes aitf {
    0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
    
}
@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

@keyframes textrotate {
  0% {
      content: 'M. Rasit Ozgun';
  }
  50% {
      content: 'Developer';
  }
  100% {
      content: 'Gamer';
  }
}



  .icon-container {
    margin-top: 30px;
    width: 25em;
    position: absolute;
    left: 1em;
    top: 36em;
    height: 3.75em;
  }
  
  

  .icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    max-width: 3.75em;
    max-height: 3.75em;
    height: 3.75em;
    width: 3.75em;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 30px;
    overflow: hidden;
  }
  .icon::before, .icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease;
    border-radius: 30px;
  }
  .icon i {
    position: relative;
    left: 26%;
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 15px;
    transition: all 0.25s ease;
  }
  
  .icon-fill::before {
    transition-duration: 0.5s;
    box-shadow: inset 0 0 0 1px #343d48;
  }
  .icon-fill:hover::before {
    box-shadow: inset 0 0 0 60px #343d48;
  }
  
  .icon-enter::after {
    box-shadow: inset 0 0 0 1px #0077b7;
  }
  .icon-enter::before {
    border-radius: 0;
    margin-left: -100%;
    box-shadow: inset 0 0 0 60px #0077b7;
  }
  .icon-enter:hover::before {
    margin-left: 0;
  }
  
  .icon-expand::after {
    box-shadow: inset 0 0 0 1px #fbc45b;
  }
  .icon-expand::before {
    background: #dd2d72;
    box-shadow: inset 0 0 0 60px #fbc45b;
  }
  .icon-expand:hover::before {
    box-shadow: inset 0 0 0 1px #df2c72;
  }
  
  .icon-collapse::before {
    border-radius: 0;
  }
  .icon-collapse:hover::before {
    box-shadow: inset 0 30px 0 0 #1ed760, inset 0 -30px 0 0 #1ed760;
  }
  .icon-collapse::after {
    box-shadow: inset 0 0 0 1px #1ed760;
  }
  
  .icon-rotate {
    box-shadow: inset 0 0 0 1px #5865f2;
  }
  .icon-rotate::after, .icon-rotate::before {
    border: 0px solid transparent;
  }
  .icon-rotate:hover::before {
    transition: border-top-width 0.3s ease, border-top-color 0.3s ease;
    border-width: 60px;
    border-top-color: #5865f2;
  }
  .icon-rotate:hover::after {
    transition: border-left-width 0.3s ease, border-left-color 0.3s ease;
    border-width: 60px;
    border-left-color: #5865f2;
  }
  .icon-rotate:hover {
    transition: background 0.001s ease 0.3s;
    background: #5865f2;
  }
  .icon-rotate i {
    z-index: 100;
  }


 .contact-form {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    border-radius: 10px;
    height: 2.5em ;
    width: 12em;
    left: 51%;
    top: 16em;
    margin: 5px 1% 5px 1%;
    float: left;
    position: relative;
    -webkit-transition: height 2s, width 2s;
    transition: height 1s, width 1s; 
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.880);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contact-form .form-text {
  text-align: center;
  font-size: 20pt;
  font-family: "Poppins";
  transition-delay: 0s;
  opacity: 1;
  max-width: 50em;
  height: 40px;
  color: #000000;
  background-color: #a2a2a2;
  border-radius: 10px;
  user-select: none;
}

.contact-form:hover{
  height: 28em;
  width: 50em;
  z-index: 100;
}
.text-center {
  position: relative;
  top: 6em;
  text-align: center;
  color: rgb(0, 0, 0);
}
.heading-medium {
  font-size: 5rem;
}

.form-group {
  padding: 0.25rem 0;
}
.form-control {
  position: relative;
  top: 4em;
  left: 16%;
  width: 70%;
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;
  border: 3px solid #ff8400;
  border-radius: 10px;
}
.form-group label {
  display: block;
}
.btn {
  position: relative;
  top: 3em;
  left: 16%;
  margin-top: 1.25rem;
  padding: 0.8rem 3rem;
  border-radius: 6px;
  letter-spacing: 0.5px;
}
.btn-block {
  width: 70%;
  text-align: center;
}

.sectionone {
  height: 100vh;
  background-color: #050517;
  box-sizing: border-box;
}
.sectiontwo {
  height: 100vh;
  background-color: #050517;
  box-sizing: border-box;
}



.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid rgb(238, 255, 0);
  position: absolute;
  left: 95%;
  bottom: 50%;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid rgb(238, 255, 0);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}




.scroll-down2 {
  height: 50px;
  width: 30px;
  border: 2px solid rgb(238, 255, 0);
  position: absolute;
  left: 95%;
  bottom: -50%;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down2::before,
.scroll-down2::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid rgb(238, 255, 0);
  border-right: transparent;
  border-bottom: transparent;
  animation: scroll-down2 1s ease-in-out infinite;
}
.scroll-down2::before {
  top: 100%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down2 {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 30%;
    opacity: 0;
  }
}


.repo{
  position: absolute;
  display: inline-flex;
  width: 11.25em;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  left: 44.85%;
  top: 150%;
}
.repo .github-repo{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.repo .github-repo:before,
.repo .github-repo:after{
  position: absolute;
  content: "GITHUB REPOS";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.repo .github-repo:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.repo .github-repo:after{
  color: #000;
  background-color: #a2a2a2;
  transform: rotateX(90deg) translateZ(25px);
}
.repo .github-repo:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}


.footer {
  height: 1em;
   background-color: #a2a2a2;
  display: flex;
  position: absolute;
  max-width: 200vw;
  width: 100vw;
  float: left;
  text-align: center;
  bottom: -100vh;
  
}
.footer h1 {
  text-align: center;
  font-size: 10pt;
  font-family: "Poppins";
}

  
  @media (max-width:576px) {
    body {
      overflow: auto;
    }

    .resim{
    left: 19%;
    top: 10%;
    position: absolute;
    width: 15em;
    height: 16em;
    flex-direction: column;
    }


    .isim  {
      position: relative;
      top: 0em;
    }

    .mailbtn{
      flex-direction: column;
      position: relative;
      margin: 1em;
      top: 2em;
      left: 72%;
    }

    .buton-bilgi{
      flex-direction: column;
      position: absolute;
      top: 90%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      
      transform: translate(-50%, -50%);
    
    }

    .buton-bilgi .yazi {
      font-size: 14pt;
      position: absolute;
      top: 0%;
    }
        
    .buton-bilgi:hover{
      width: 24em;
      height: 16em;
    }
 

    .buton-education {
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .buton-softskills{
      flex-direction: column;
      position: absolute;
      top: 120%;
      left: 50%;
    }

    .buton-techskills{
      flex-direction: column;
      position: absolute;
      top: 110%;
      left: 50%;  
    }
    .buton-hobbies{
      flex-direction: column;
      position: absolute;
      top: 130%;
      left: 50%;
    } 

 
    .repo  {
      position: relative;
      left: 23%;
      top: 85%;

    }

  
    .box {
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-direction: column-reverse;
    }

    .icon-container{
      position: absolute;
      top: 150%;
      width: 98vw;
      padding-bottom: 100px;
      left: 1%;
    }
 
    .icon {
      height: 15vw;
      width: 15vw;
    }

    .contact-form{
      position: absolute;
      top: 180%;
      margin-bottom: 40em;
      left: 50%;
    }
    .contact-form:hover{
      width: 24em;
      height: 26em;
      z-index: 100;
    }

    .scroll-down {
      display: none;
    }
    .scroll-down2 {
      display: none;
    }

    .footer {
      bottom: -10%;
      position: relative;
      width: 100vw;
    }

  }

  